# .gitignore

# Ignore credential files
credentials.json
token.pickle

# Ignore virtual environment directories
venv/
env/
.env

# Ignore compiled files
__pycache__/
*.pyc

# Ignore other sensitive or unnecessary files
*.log
.DS_Store
